@page "/create"
@using Microsoft.AspNetCore.Components.Forms
@using Tunnelize.Server.Codes
@inject ICodeGenerator CodeGenerator

@{
    var generatedSubdomain = CodeGenerator.GenerateWildCardDomainCode();
}

<div id="create-form" class="vertical" hx-target="#create-form">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <button hx-get="/api/dashboard">
                &lt; Back
            </button>
        </div>
        <div class="col"></div>
    </div>

    <div class="row">
        <div class="col">
        </div>
        <div class="col">
            <h2>Create API key</h2>

            <fieldset>
                <legend>Fields</legend>
                <form hx-post="/api/api-keys/create" hx-swap="outerHTML">
                    <AntiforgeryToken/>

                    <div>
                        <label>Subdomain</label>
                        @if (HasErrors)
                        {
                            <input class="error" type="text" name="subdomain-preview" placeholder="***" value="@generatedSubdomain">
                            <input type="hidden" name="subdomain" placeholder="***" value="@generatedSubdomain">
                            <span>Can't be empty or already used!</span>
                        }
                        else
                        {
                            <input type="text" disabled name="subdomain-preview" placeholder="***" value="@generatedSubdomain">
                            <input type="hidden" name="subdomain" placeholder="***" value="@generatedSubdomain">
                        }

                    </div>

                    <br/>

                    <div>
                        <button type="submit">
                            Create
                        </button>
                    </div>

                    <br/>

                </form>
            </fieldset>
        </div>
        <div class="col">
        </div>
    </div>
</div>

@code {
    [Parameter] public bool HasErrors { get; set; }
}