@page "/create"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Forms
@attribute [Authorize]

<div class="vertical">
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
            <h2>Create API key</h2>

            <fieldset>
                <legend>Fields</legend>
                <form hx-post="/api-keys/create">
                    <AntiforgeryToken/>

                    <div>
                        <label>Subdomain</label>
                        <input type="text" name="subdomain" placeholder="***">
                    </div>

                    <br/>

                    <div>
                        <button>
                            Create
                        </button>
                    </div>

                    <br/>

                </form>
            </fieldset>
        </div>
        <div class="col">
        </div>
    </div>
</div>
