@using Tunnelize.Client.Routes.ApiKeys

<table hx-target="closest tr">
    <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Is Active</th>
        <th class="pull-right">Actions</th>
    </tr>
    @foreach (var apiKey in ApiKeys)
    {
        <tr>
            <td>@apiKey.Id</td>
            <td>
                @apiKey.Description
            </td>
            <td>
                @apiKey.IsActive
            </td>
            <td class="pull-right">
                <button hx-delete="/api/api-keys/delete/@apiKey.Id" hx-swap="outerHTML">Delete</button>
            </td>
        </tr>
    }
</table>

@code {
    [Parameter] public IEnumerable<ApiKeyResponse> ApiKeys { get; set; }
}