@using Microsoft.AspNetCore.Components.Web

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tunnelize client</title>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/json-enc.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/chota@latest">
    <style>
        html, body {
            height: 100%;
            overflow-x: hidden;
        }

        .vertical {
            position: relative;
            top: 50%;
            transform: translateY(-70%);
        }
        
        .connect-form {
            display: inline-block;
            padding-right: 10px;
        }
    </style>
    <HeadOutlet/>
</head>
<body>
<Routes/>
</body>
</html>


@code {
    [CascadingParameter] public HttpContext? HttpContext { get; set; }
}