@page "/login/code"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Forms
@attribute [AllowAnonymous]

<div class="vertical">
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
            <h2>Tunnelize</h2>

            <fieldset hx-target=".vertical">
                <legend>Login</legend>
                <form hx-post="/api/authentication/login/code" hx-swap="outerHTML">
                    <AntiforgeryToken/>

                    <div>
                        <label>Code</label>
                        @if (HasErrors)
                        {
                            <input class="error" type="text" name="code" placeholder="******">
                            <span>Code has to be valid!</span>
                        }
                        else
                        {
                            <input type="text" name="code" placeholder="******">
                        }
                    </div>

                    <br>

                    <div>
                        <button type="submit">
                            Submit
                        </button>
                    </div>

                    <br>

                </form>
            </fieldset>
        </div>
        <div class="col">
        </div>
    </div>
</div>

@code {
    [Parameter] public bool HasErrors { get; set; }
}